<!--
<ul>
    <app-destino-viaje *ngFor="let x of destinos" [nombre]="x"></app-destino-viaje>
</ul>
-->
<!--*ngFor => (palabra reservada 'let', 'variable que va a contener',of,variable con los valores-->
<!--[nombre] variable dentro del compinente app-destino-viaje, solo se peude usar en esa linea-->

<!--====================================================================================-->


<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login with validation feedback -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3	class="mb-0">Whishlist</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <!--Podemos asignar variables a los componentes usando
                            #identificador, con lo que podremos acceder a toda la información:
                            type,class,id,value,etc.-->
                            <input type="text" class="form-control"	id="nombre"	
                            placeholder="Ingresar nombre..." #nombre>
                        </div>
                        <div class="form-group">
                            <label for="Imagen Url">Imagen Url</label>
                            <input type="text" class="form-control"	id="imagenUrl" 
                            placeholder="Ingresar url..." #url>
                        </div>
                        <button	type="submit" class="btn btn-primary" (click)="save(nombre.value,url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr	class="mb-5">
    <div class="row row-flex">
        <app-destino-viaje 
        *ngFor="let x of destinos; let i = index" 
        [destino]="x"
        [idx]="i+1"
        (clicked)="elegido(x)"
        ></app-destino-viaje>
    </div>
</div>